html {
    height: 100%
}

img.img-circle {
    max-width: 250px;
    max-height: auto;
    }

body {
    background: #945D60 !important; 
}

nav {
    background-color: #626E60;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}
