img.img-circle {
    max-width: 250px;
    max-height: auto;
    }

html, body {
    width: 100%;
    height: 100%;
    background-color: #945D60;
    
}

nav {
    background-color: #626E60;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}
